<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.js" integrity="sha512-wTIaZJCW/mkalkyQnuSiBodnM5SRT8tXJ3LkIUA/3vBJ01vWe5Ene7Fynicupjt4xqxZKXA97VgNBHvIf5WTvg==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.css" integrity="sha512-uKwYJOyykD83YchxJbUxxbn8UcKAQBu+1hcLDRKZ9VtWfpMb1iYfJ74/UIjXQXWASwSzulZEC1SFGj+cslZh7Q==" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>



    <div class="search-Container">
        <input type="text" placeholder="Search place" name="search" id="searchPlace">
    </div>

    <form action="/getData" method="POST" name="searchedPlaceForm" onsubmit="return validateForm()">
        <div class="form-group">
            <label for="search">Coordinate in search place</label>
            <input type="text" name="placeSearch" id="search" value="null" onkeypress="return false">
        </div>

        <div class="form-group">
            <label for="city">City Name</label>
            <input type="text" name="CityName" id="city" value="null" onkeypress="return false">
        </div>
        <input type="submit" class="btn btn-primary" value="Submit">
    </form>



    <div class="map-wrapper" id="map"></div>


    <script src="/javascripts/app.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArBc-r700xF1JgBaRjJJlzFbcZIG29rE0&libraries=places&callback=initAutocomplete"></script>



</body>

</html>